<section class="home-page">
    {{#each findposts as |findpost|}}
    <div class="blog-post-wrapper">
        <div class="title-wrapper">
            <h2 class="post-body">{{name}}</h2>
            <p class="post-body poster-name">{{user.first_name}} {{user.last_name}}</p>
        </div>
        <p class="post-body">{{content}}</p>

        <div class="comment-wrapper">
            <p class="post-body post-date">{{format_date date_created}}</p>
        </div>
    </div>
    {{/each}}
    <div class="comment-create">
        <form class="create-comment" id="comment-submit">
            <label for="comment-input">leave a comment</label>
            <input type="text" name="comment-input" id="comment-input" class="comment">
            
            <div class="comment-btn-wrapper button-pos">
                <button class="comment-btn login-logout">post</button>
            </div>
        </form>
    </div>
    {{#each comments as |comment|}}
    <div class="blog-post-wrapper">
        <p>test</p>
    </div>
    {{/each}}
</section>
<script src="/js/homepage.js"></script>