<section class="home-page">
    {{#each findposts as |findpost|}}
    <div class="blog-post-wrapper">
        <div class="title-wrapper">
            <h2 class="post-body">{{name}}</h2>
            <p class="post-body poster-name">{{user.first_name}} {{user.last_name}}</p>
        </div>
        <p class="post-body">{{content}}</p>

        <div class="comment-wrapper post-date-wrapper">
            <p class="post-body post-date">{{format_date date_created}}</p>
        </div>
    </div>
    {{/each}}
    <div class="comment-create">
        <form class="create-comment" id="comment-submit">
            <label for="comment-input">leave a comment</label>
            <input type="text" name="comment-input" id="comment-input" class="comment">
            
            <div class="comment-btn-wrapper button-pos">
                <button class="comment-btn login-logout" onClick="postComment({{proj_id}})">post</button>
            </div>
        </form>
    </div>

    <div class="comment-container">    
        {{#each comments as |comment|}}
        <div class="blog-post-wrapper comment-wrapper">
            <div class="comment-content-wrapper">
                <p style="color: white">{{body}}</p>
                <div class="comment-icon-wrapper">
                    <i class="far fa-trash-alt" onclick="deleteComment({{id}})"></i>
                    <i class="fas fa-edit"></i>
                </div>
            </div>

            <div class="comment-content-wrapper">
                <p>{{user.first_name}} {{user.last_name}}</p>
                <p class="comment-date">{{format_date comment_date_created}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<script src="/js/homepage.js"></script>