<section class="home-page" id="home">
    <div class="homepage-wrapper">
        {{#each posts as |post| }}
        <div class="blog-post-wrapper">
            <div class="title-wrapper">
                <h2 class="post-body">{{name}}</h2>
                <p class="post-body poster-name">{{user.first_name}} {{user.last_name}}</p>
            </div>
            <p class="post-body home-post-body">{{content}}</p>

            <div class="comment-wrapper post-date-wrapper">
                <p class="post-body post-date">{{format_date date_created}}</p>
                <i class="far fa-comment fa-lg comment-btn" onClick="showComments({{id}})"></i>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<script src="/js/homepage.js"></script>
